.Demo {
  .rawVideo {
    pointer-events: none;
    user-select: none;
    position: fixed;
    opacity: 0;
  }
  .croppedVideo {
    pointer-events: none;
    user-select: none;
    position: fixed;
    opacity: 0;
  }

  video,
  canvas {
    transform: scaleX(-1);
  }
}
