.personalRoom {
  video {
    height: 88px;
    transform: scaleX(-1);
  }
}

.dummyzoomRoot {
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  justify-content: center;
  align-content: center;
}

.dummyzoomCenterGrow {
  max-width: 90vw;
  max-height: 90vh;
  font-size: 0;
  
  // outline: 1px dashed black;
  
  video {
    display: inline-block;
    margin: 8px;
    border-radius: 32px;
    // background-color: white;
    filter: brightness(1.25) contrast(1.1) saturate(1.1) drop-shadow(0 6px 16px rgba(0, 0, 0, 0.25));
  }
}
